*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

:root {
	font-size: 15px;
}

body {
	--color-text: #fff;
	--color-text-alt: #464646;
	--color-bg: #151617;
	--color-link: #777;
	--color-link-hover: #fff;
	color: #fff;
	color: var(--color-text);
	background-color: #151515;
	background-color: var(--color-bg);
	font-family: niveau-grotesk, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: 'C';
	text-align: center;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	font-size: 4rem;
	color: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		transform: scale3d(-1,1,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

h1,
h2,
h3,
.loading {
	font-family: ivypresto-display, serif;
	font-weight: 100;
	font-style: normal;
}

p {
	line-height: 1.6;
}

.block {
	display: grid;
	position: relative;
	max-width: 1300px;
	margin: 0 auto;
	padding: 35vh 3.25rem;
}

.block--screen {
	align-items: center;
}

.block--centered {
	align-content: center;
	text-align: center;
}

.block--prime {
	grid-gap: 0;
	max-width: none;
	padding: 1.85rem 3.25rem;
}

.bgletter {
	z-index: -1;
	position: absolute;
	overflow: hidden;
	width: 100vw;
	top: 0;
	font-size: 67vw;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	white-space: nowrap;
}

.block--two {
	grid-template-columns: auto;
	grid-gap: 3rem;
}

.block--story {
	justify-content: center;
	margin: 0 auto;
	grid-column-gap: 10vw;
	grid-template-columns: 100%;
}

.block__item {
	max-width: 100vw;
	justify-self: center;
	margin-bottom: 8rem;
}

.block__item:last-child {
	margin-bottom: 0;
}

.block__item-imgwrap {
	width: 100%;
	max-width: 600px;
	position: relative;
	overflow: hidden;
}

.block__item-img {
	width: 100%;
	height: auto;
	display: block;
}

.block__item-title {
	font-size: 2.25rem;
	line-height: 1.3;
	margin: 2rem 0;
	max-width: 400px;
}

.block__item-desc {
	margin: 1rem 0 2rem;
	max-width: 380px;
	color: var(--color-text-alt);
}

.block__item-link {
	display: inline-block;
	color: var(--color-text);
	text-decoration: underline;
}

.block__item-link:hover {
	text-decoration: none;
}

.block__item-link+.block__item-link {
	margin-left: 1rem;
}

.block__title {
	position: relative;
	font-size: 1.75rem;
	line-height: 1.1;
}

.block__title--single {
	font-size: 1.5rem;
	white-space: pre-wrap;
}

.block__title--small {
	text-transform: uppercase;
	font-family: inherit;
	font-weight: bold;
	font-size: 1rem;
	margin: 0 0 0.5rem 0;
}

.block__titlewrap {
	margin-top: 3rem;
}

.block__listtitle {
	font-weight: 400;
	font-size: 1.15rem;
	margin: 2rem 0;
	line-height: 1.25;
}

.block__listtitle a {
	color: var(--color-text);
}

.block__listtitle a:hover,
.block__listtitle a:focus {
	text-decoration: underline;
}

.block__text {
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
}

.block__text--subline {
	margin: 2.5rem auto;
}

.block__text--em {
	font-style: italic;
}

.block__link {
	color: var(--color-text);
	text-decoration: underline;
}

.block__link:hover,
.block__link:focus {
	text-decoration: none;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row--header {
	align-self: start;
}

.row--footer {
	align-self: end;
	margin: 2rem 0 0 0;
}

.linkgroup {
	display: inline-block;
}

.linkgroup__text {
	display: inline-block;
}

.linkgroup__item {
	margin-left: 1.25rem;
}

.row--footer .linkgroup__item {
	margin: 0 0.25rem;
}

.title {
	text-align: center;
	margin: 4rem 0;
}

.title__main {
	line-height: 1;
	font-size: 20vw;
	margin: 0;
}

.title__sub {
	text-indent: -3vw;
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--color-text-alt);
}

.intro {
	align-self: baseline;
}

.intro__block {
	max-width: 30ch;
	margin: 0 auto 1rem;
}

.nobreak {
	white-space: nowrap;
}

.breakout {
	left: 50%;
	right: 50%;
	margin: 0 -50vw;
}

.image-grid {
	pointer-events: none;
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
	z-index: -1;
	width: 100vw;
	min-height: 90vh;
	display: grid;
	justify-content: space-between;
	align-content: space-between;
	grid-template-columns: repeat(4, 230px);
	grid-template-rows: repeat(3, 126px);
	grid-auto-flow: column;
	overflow: hidden;
}

.image-grid img {
	opacity: 0.4;
	justify-self: center;
}

.image-grid img:first-child {
	margin-top: 6vh;
}

.image-grid img:nth-child(4) {
	grid-column: 2;
	grid-row: 1 / 3;
	align-self: center;
}

.image-grid img:nth-child(5) {
	grid-column: 2;
	grid-row: 2 / 4;
	align-self: center;
	width: 200px;
	margin-top: 10vh;
}

.image-grid img:nth-child(7) {
	margin-top: 4vh;
	width: 210px;
}

.image-grid img:nth-child(9) {
	margin-top: 6vh;
}

.image-grid img:nth-child(11) {
	margin-top: -4vh;
}

.block--websites .block__cell {
	grid-area: 1 / 1 / 2 / 2;
	align-self: center;
}

.block__cell--grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50vh;
    align-items: center;
    direction: rtl;
    padding-left: 45px;
}

.block__cell-img {
	width: calc(100% + 45px);
}

.block__cell-img:first-child {
	align-self: start;
}

.block__cell-img:last-child {
	align-self: end;
}

.column-wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	grid-auto-flow: column;
	justify-content: space-between;
}

.column:nth-child(even) {
	margin-top: 3rem;
}

.column img {
	margin: 1.5rem 0;
	max-width: 100%;
}

#mc_embed_signup form {
	text-align: left;
	padding: 0;
	position: relative;
	display: inline-flex;
	width: 75%;
	min-width: 220px;
	max-width: 450px;
}

#mc_embed_signup input.email {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 0;
	font-weight: 400;
	font-family: inherit;
	color: inherit;
	border: 1px solid var(--color-link);
	border-right: 0;
	background: none;
}

input.email::placeholder {
	color: #e1ddd7;
}

#mc_embed_signup input.email:focus {
	border-color: #fff;
	box-shadow: none;
	outline: none;
}

#mc_embed_signup .arrow { 
	height: 100%;
	position: relative;
}

#mc_embed_signup .button {
	border: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0;
	transition: none;
	width: 100%;
	height: 100%;
	line-height: inherit;
	background: transparent;
	cursor: pointer;
}

#mc_embed_signup .button:focus {
	outline: none;
}

#mc_embed_signup .arrow__inner {
	background: var(--color-link);
	height: 100%;
	position: relative;
	pointer-events: none;
}

#mc_embed_signup .button:focus + .arrow__inner {
	background: #fff;
}

#mc_embed_signup input:focus ~ .arrow .arrow__inner {
	background: #fff;
}

#mc_embed_signup .arrow svg {
	padding: 1rem;
	width: 52px;
	height: 52px;
	margin: 0 auto;
	display: block;
	fill: #000;
}

.footer {
	text-align: center;
	padding: 3rem;
}

.footer a {
	color: inherit;
}

@media screen and (max-width: 53em) {
	.row--footer {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.linkgroup--wrap {
		margin: 2rem 0 0 0;
		width: 100%;
	}
	.block--party h2 {
		text-align: center;
		margin: 0 auto;
	}
	.star {
		width: 7rem;
		height: 7rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem auto;
	}
}

@media screen and (min-width: 53em) {
	.title {
		grid-area: 2 / 1 / 3 / 3;
		margin: 0;
	}

	.block--screen {
		min-height: 100vh;
	}

	.block--prime {
		grid-template-columns: 50% 50%;
		grid-template-rows: 2rem 1fr;
	}

	.block--story {
		grid-template-columns: 1fr 1fr;
	}

	.block__item {
		max-width: 600px;
	}

	.block__item:nth-child(even) {
		padding: 80% 0 0;
	}

	.row {
		grid-column: 1 / 3;
	}

	.row--footer {
		margin: 0;
	}

	.linkgroup__text {
		display: none;
	}

	.intro__block {
		margin: 0 0 1rem 0;
	}

	.block__listtitle {
		font-size: 1.5rem;
	}

	.block__title {
		font-size: 7vw;
	}

	.block__title--small {
		font-size: 1.5rem;
	}

	.block__title--single {
		white-space: nowrap;
		font-size: 2.75rem;
	}

	.block--two {
		grid-template-columns: minmax(200px, 360px) 1fr;
	}

	.column-wrap {
		grid-template-columns: repeat(4, 120px);
	}
	#mc_embed_signup input.email {
		padding: 1rem;
		font-size: 1rem;
	}
}

/*! locomotive-scroll v4.0.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden; }
  
  html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
  
  .has-scroll-smooth body {
	overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
	white-space: nowrap;
	height: 100vh;
	display: inline-block;
	white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	height: 100%; }
  
  .c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100%;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0; }
	.c-scrollbar:hover {
	  transform: scaleX(1.45); }
	.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
	  opacity: 1; }
	[data-scroll-direction="horizontal"] .c-scrollbar {
	  width: 100%;
	  height: 10px;
	  top: auto;
	  bottom: 0;
	  transform: scaleY(1); }
	  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
		transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab; }
	.has-scroll-dragging .c-scrollbar_thumb {
	  cursor: -webkit-grabbing;
	  cursor: grabbing; }
	[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
	  right: auto;
	  bottom: 0; }